@using RfCommonLibrary.Recipes.DTOs.QueryDTOs;
@using RfCommonLibrary.Recipes.Enums;
@model EditViewModel

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Recipe.Title"></label>
        <input asp-for="Recipe.Title" class="form-control" />
        <span asp-validation-for="Recipe.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Description"></label>
        <textarea asp-for="Recipe.Description" class="form-control"></textarea>
        <span asp-validation-for="Recipe.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Image"></label>
        <input asp-for="Recipe.Image" class="form-control" />
        <span asp-validation-for="Recipe.Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.ExpenseRating"></label>
        <input asp-for="Recipe.ExpenseRating" class="form-control" />
        <span asp-validation-for="Recipe.ExpenseRating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.PublishedAt"></label>
        <input asp-for="Recipe.PublishedAt.Date" class="form-control" />
        <span asp-validation-for="Recipe.PublishedAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Recipe.Category"></label>
        <select asp-for="Recipe.Category" class="form-control" asp-items="Html.GetEnumSelectList<CategoryType>()"></select>
        <span asp-validation-for="Recipe.Category" class="text-danger"></span>
    </div><br/>
    <div class="form-group">
        <label>Ingredients:</label><br/>
        @*<button class="btn btn-sm btn-success" type="button" onclick="@(() => AddIngredient())">Add</button>
        <br/><br />*@
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingredient in Model.Recipe.Ingredients)
                {
                    <tr>
                        <td>
                            <input asp-for="@ingredient.Name" class="form-control" />
                            <span asp-validation-for="@ingredient.Name" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="@ingredient.Amount" class="form-control" type="number" min="0" />
                            <span asp-validation-for="@ingredient.Amount" class="text-danger"></span>
                        </td>
                        <td>
                            <select asp-for="@ingredient.Unit" class="form-control">
                                <option value="">--Select Unit--</option>
                                @foreach (var value in Enum.GetValues(typeof(MeasurementType)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                        </td>
                        @*<td class="text-center">
                            <button class="btn btn-sm btn-close" type="button" onclick="@(() => RemoveIngredient(ingredient.IngredientID))"></button>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
    <div class="form-group">
        <label>Instructions:</label><br />
        @*<button class="btn btn-sm btn-success" type="button" onclick="@(() => AddIngredient())">Add</button>
        <br/><br />*@
        <table class="table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Title</th>
                    <th>Info</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var instruction in Model.Recipe.Instructions)
                {
                    <tr>
                        <td>
                            <input asp-for="@instruction.OrderNumber" type="number" min="1" class="form-control" />
                            <span asp-validation-for="@instruction.OrderNumber" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="@instruction.Title"  class="form-control" />
                            <span asp-validation-for="@instruction.Title" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="@instruction.Info" class="form-control"  />
                            <span asp-validation-for="@instruction.Info" class="text-danger"></span>
                        </td>
                        @*<td class="text-center">
                    <button class="btn btn-sm btn-close" type="button" onclick="@(() => RemoveIngredient(ingredient.IngredientID))"></button>
                    </td>*@
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@{
//    void RemoveIngredient(Guid id)
//    {
//        var ingredient = Model.Recipe.Ingredients.Where(x=>x.IngredientID == id).FirstOrDefault();
//        Model.Recipe.Ingredients.Remove(ingredient);
//    }
//    void AddIngredient()
//    {
//        IngredientDTO newDTO = new IngredientDTO
//            {
//                RecipeID = Model.Recipe.RecipeID
//            };
//        Model.Recipe.Ingredients.Add(newDTO);
//    }
}