@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5 text-center">
    <div class="btn btn-success mb-3">Create</div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Published On</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Expense</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.Recipes.OrderByDescending(x => x.PublishedAt))
            {
                <tr>
                    <td>@recipe.PublishedAt.ToShortDateString()</td>
                    <td>@recipe.Title</td>
                    <td>@recipe.Description</td>
                    <td> @recipe.ExpenseRating</td>
                    <td>@recipe.CategoryName</td>
                    <td class="text-end">
                        <div class="btn btn-warning btn-sm">Edit</div>
                        <div class="btn btn-sm btn-secondary">X</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
